*{
    margin: 0px;
    padding: 0px;
}
body {
     background:#449ccc;
    width: 100%;
    height: auto;
}
.clear{
    clear: both;
}

header{
    display: block;
    width: 100%;
    height: 60px;
    position: relative;
    background-color: #fff;
   /* margin-bottom: 50px;*/
}
li{
    list-style-type: none;
}

.container{
    width: 90%;
    margin: 0 auto;
    height: auto;
}
header ul li{
    float:right;
    margin: 20px 10px;
    width: 20px;
    height: 20px;
    display: inline;
     text-align: center;
     border-radius: 5px;
     border: 2px solid #db251d;
}
header ul li:hover{
    background-color: #db251d;
}
header ul li a i{
        color: #db251d;
}
header ul li:hover a i{
        color: #fff;
}
.logo{
    float: left;
    display: inline-block;
}
.s-media{
    float: right;
    display: inline-block;
    margin-right: 1%;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #db251d;
}
nav ul{
    list-style: none;
    width:56%;
    float: right;

}
nav ul li{
    display: inline;
    float: left;
    width: auto;
    height: 80px;
    margin-right: 0px;
    background-color: #ab1a1a;
}
nav ul li a{
    display: block;
    line-height: 80px;
    height: 80px;
    float: left;
    padding: 0px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}


a{
    text-decoration: none;
}

.container{
    width: 95%;
    background: #aaa;
    margin: 0 auto;
    display: block;
}

.flip {
    -webkit-perspective: 800;
    width: 244px;
    height: 270px;
    position: relative;
    margin: 5px;
    display: inline-block;
    float: left;
    

}

/*.flip img{
    width: 100%;
    height: 100%;
}*/
.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
    -webkit-backface-visibility: hidden;
    
     
}
.flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.flip .card .face {
    width: 100%;
    height: 100%;  
}
.flip .card .front {
    position: absolute;
    z-index: 1;
    background: white;
    color:#000;
    cursor: pointer;
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 180px;
}
.kj{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: blue;

}

.flip .card .back {
    -webkit-transform: rotatey(-180deg);
    background: white;
    cursor: pointer;
    text-align: center;

}
.kj_info{
    width: 90%;
height: 250px;
margin: 0 auto;
padding-top: 20px;

   
}
.flip .card .back p{
    line-height: 30px;
}
.flip .card .back p span{
    font-weight: bold;
    color: red;
}

.flip .card .back p span:hover{
    color: chocolate;
}

.footer_header{
    width: 100%;
    height: 60px;
    background-color:#64b7de; 
    margin-top: 10px;
}
.inner_footer{
    width: 100%;
    height: 150px;
    display: block;
    background-color: #dfdfdf;
}
.sub_footer{
    width: 30.33%;
    margin-left:1%; 
    height: auto;
    text-align: center;
    display: inline-block;
    float: left;
}
.sub_footer h3{
    padding: 10px;
}
.footer_bottom{
    width: 100%;
    height: 30px;
    background-color: #64b7de;
    text-align: center;
    padding-top: 15px;
}
@media (min-width:280px) {

.toggle{
    padding: 10px 20px;
    box-sizing: border-box; 
    font-size: 40px; 
    text-align:right; 
    display: block; 
    color: #fff;
}
nav ul{
    width: 100%;
    display: none;
    
}
.active{
    display: block;
}

.flip {
   /* -webkit-perspective: 800;*/
    width: 90%;
    height: 270;
    position: relative;
    display: block;
    float: left;
    margin: 5%;

}

nav ul li{
    width: 100%;
    font-size: 22px;
    height: 40px;
}
nav ul li a.selected{
    background-color: #fff;
    color:#db251d;
}
nav ul li a:hover{
    background: #fff;
    color: #db251d;

}
nav ul li a{
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.inner_footer{
    height: 400px;
    background-color: #db251d;

}
.sub_footer{
    width: 100%;
    display: block;

   
}
.sub_footer h3{
    padding: 10px;
}
.footer_bottom{
    width: 100%;
    height: 30px;
    background-color: #64b7de;
    text-align: center;
}
}
@media (min-width:480px) {
.flip {
   /* -webkit-perspective: 800;*/
    width: 44%;
    height: 270px;
    position: relative;
    display: inline-block;
    float: left;
    margin: 3%;

}

}

@media (min-width:600px) {
 .flip {
   /* -webkit-perspective: 800;*/
    width: 44%;
    height: 270px;
    position: relative;
    display: inline-block;
    float: left;
    margin: 3%;

}
.inner_footer{
    height: 150px;
    background-color: #e5e5e5;

}
.sub_footer{
    width: 30.33%;
    margin-left:1%; 
    height: auto;
    text-align: center;
    display: inline-block;
    float: left;
}
.sub_footer h3{
    padding: 10px;
}
.footer_bottom{
    width: 100%;
    height: 30px;
    background-color: #db251d;
    text-align: center;
    line-height: 30px;
    color: #fff;
}
}

@media (min-width:801px) { 
 .flip {
   /* -webkit-perspective: 800;*/
    width: 29%;
    height: 270px;
    position: relative;
    display: inline-block;
    float: left;
    margin: 2%;

}
.toggle{
    display: none;
}
nav ul{
    list-style: none;
    width: 95%;
    float: right;
    display: block;

}
nav ul li{
    display: inline;
    float: left;
    width: 120px;
    height: 80px;
    margin-right: 0px;
    background-color: #000;
}
nav ul li a{
    display: block;
    line-height: 80px;
    height: 80px;
    float: left;
    padding: 0px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

}

@media (min-width:1025px) {
    .flip {
   /* -webkit-perspective: 800;*/
    width: 21%;
    height: 270px;
    position: relative;
    display: inline-block;
    float: left;
    margin: 2%;

}



}
@media (min-width:1281px) {
    .flip {
   /* -webkit-perspective: 800;*/
    width: 18%;
    height: 270px;
    position: relative;
    display: inline-block;
    float: left;
    margin: 1%;

}

}